@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico-Regular/Pacifico-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #8262b5;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.9;
  z-index: 100;
  transition: all, 0.5;
  -webkit-transform: all, 0.5;
  -moz-transform: all, 0.5;
  -ms-transform: all, 0.5;
  -o-transform: all, 0.5;
}
.header {
  width: 100%;
}
.header .logo-mobile {
  width: 100%;
  padding: 19.5px 0px;
  text-align: center;
  display: none;
}
.header .logo-mobile a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 15px;
  line-height: 15px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: left;
  padding: 6px 3.955px 6px 11.855px;
  border: 2px solid #000000;
}
.header .header-inner {
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-inner-left {
  margin-left: 30px;
}
.header .header-inner-left .web-info {
  margin-right: 30px;
}
.header .header-inner-right {
  margin-right: 30px;
  display: flex;
}
.header .header-inner-right .web-info {
  margin-left: 30px;
}
.header .header-inner-right .header-btn2 {
  cursor: pointer;
}
@media (min-width: 576px) {
  .header .header-inner-right .header-btn2 .modal-dialog {
    max-width: 400px;
  }
  .header .header-inner-right .header-btn2 .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.header .header-inner-right .header-btn2 .modal-header .close {
  margin-top: -1.5rem;
}
.header .header-inner-right .header-btn2 .form-title {
  margin: -2rem 0rem 2rem;
}
.header .header-inner-right .header-btn2 .btn-round {
  border-radius: 3rem;
}
.header .header-inner-right .header-btn2 .delimiter {
  padding: 1rem;
}
.header .header-inner-right .header-btn2 .social-buttons .btn {
  margin: 0 0.5rem 1rem;
}
.header .header-inner-right .header-btn2 .signup-section {
  padding: 0.3rem 0rem;
}
.header .header-inner .web-info {
  padding: 12.5px 0px;
  display: flex;
  color: #525252;
}
.header .header-inner .web-info .icon {
  font-size: 14px;
}
.header .header-inner .web-info .content {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.menu-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  height: 79px;
}
.menu-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat";
}
.menu-bar .menu-navbar {
  height: 40px;
  margin-left: -28px;
}
.menu-bar ul li {
  margin-right: 55px;
}
.menu-bar ul li:hover a {
  color: #8262b5;
}
.menu-bar .logo {
  margin-left: 30px;
}
.menu-bar .logo a {
  font-size: 20px;
  letter-spacing: 15px;
  line-height: 15px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: left;
  padding: 6px 3.955px 6px 11.855px;
  border: 2px solid #000000;
}
.menu-bar .nav-icon {
  margin-left: 10px;
  display: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu-bar .nav-icon i {
  font-size: 25;
  margin-right: 5px;
}
.menu-bar .navbar .nav-title {
  display: none;
  background-color: #ffffff;
  color: #000000;
  line-height: 51px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 15px;
}
.menu-bar .icon {
  margin-right: 30px;
}
.menu-bar .icon i {
  margin-left: 25px;
  font-size: 30px;
  color: #000000;
  text-align: center;
}
.main-content .columns .page-main .banner {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main-content .columns .page-main .banner .shop-now a {
  text-decoration: none;
  padding: 9.5px 17.185px;
  background-color: #8262b5;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.main-content .columns .page-main .banner-left {
  position: relative;
}
.main-content .columns .page-main .banner-left .content {
  position: absolute;
  top: 62%;
  left: 68%;
  transform: translate(-62%, -68%);
  -webkit-transform: translate(-62%, -68%);
  -moz-transform: translate(-62%, -68%);
  -ms-transform: translate(-62%, -68%);
  -o-transform: translate(-62%, -68%);
  text-align: right;
}
.main-content .columns .page-main .banner-left .content p {
  margin-bottom: 0;
}
.main-content .columns .page-main .banner-left .content .text1 {
  padding: 0;
  font-size: 80px;
  line-height: 40px;
  text-transform: uppercase;
  color: #e1e1e1;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: right;
  opacity: 0.6;
}
.main-content .columns .page-main .banner-left .content .text2 {
  padding: 0;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
  color: #e1e1e1;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: right;
}
.main-content .columns .page-main .banner-left .content .text3 {
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  font-family: "Pacifico";
}
.main-content .columns .page-main .banner-left .content .shop-now {
  margin-top: 15px;
}
.main-content .columns .page-main .banner-right {
  margin-left: 30px;
}
.main-content .columns .page-main .banner-right .content p {
  margin-bottom: 0;
}
.main-content .columns .page-main .banner-right .content .text1 {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #616161;
  font-weight: 400;
  font-family: "Montserrat";
}
.main-content .columns .page-main .banner-right .content .text2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}
.main-content .columns .page-main .banner-right-top {
  position: relative;
}
.main-content .columns .page-main .banner-right-top .content {
  width: 100%;
  position: absolute;
  top: 63%;
  left: 71.5%;
  transform: translate(-63%, -71.5%);
  -webkit-transform: translate(-63%, -71.5%);
  -moz-transform: translate(-63%, -71.5%);
  -ms-transform: translate(-63%, -71.5%);
  -o-transform: translate(-63%, -71.5%);
}
.main-content .columns .page-main .banner-right-top .content .shop-now {
  display: none;
}
.main-content .columns .page-main .banner-right-top .border-frame {
  position: absolute;
  width: 300px;
  height: 130px;
  border: 1px solid #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 10;
}
.main-content .columns .page-main .banner-right-bottom {
  margin-top: 30px;
  position: relative;
}
.main-content .columns .page-main .banner-right-bottom .content {
  position: absolute;
  top: 42%;
  left: 25%;
  transform: translate(-42%, -25%);
  -webkit-transform: translate(-42%, -25%);
  -moz-transform: translate(-42%, -25%);
  -ms-transform: translate(-42%, -25%);
  -o-transform: translate(-42%, -25%);
}
.main-content .columns .page-main .banner-right-bottom .content .shop-now {
  margin-top: 20px;
}
.main-content .columns .page-main .top-selling .section-products {
  padding: 80px 0 54px;
}
.main-content .columns .page-main .top-selling .section-products .header {
  margin-bottom: 50px;
  margin-left: 77px;
}
.main-content .columns .page-main .top-selling .section-products .header h3 {
  font-size: 12px;
  letter-spacing: 6px;
  color: #8262b5;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-content .columns .page-main .top-selling .section-products .header h2 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}
.main-content .columns .page-main .top-selling .section-products .header .line {
  width: 50px;
  height: 1px;
  background-color: #8262b5;
  margin-top: 22px;
}
.main-content .columns .page-main .top-selling .section-products .single-product {
  margin-bottom: 26px;
  width: 262px;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-1 {
  position: relative;
  width: 262px;
  height: 323px;
  max-height: 323px;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-1 .add-to-cart {
  position: absolute;
  bottom: -41px;
  left: 10px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-1 .add-to-cart a {
  text-decoration: none;
  padding: 12.5px 16.99px;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  color: #424242;
  background-color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-1 .add-to-cart a:hover {
  color: #8262b5;
}
.main-content .columns .page-main .top-selling .section-products .single-product:hover .part-1 .add-to-cart {
  bottom: 14px;
  opacity: 1;
}
.main-content .columns .page-main .top-selling .section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 {
  height: 90px;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .product-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .star {
  display: flex;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .star .good-star {
  color: yellow;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .star .bad-star {
  margin-left: 5px;
  color: lightgray;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16;
  color: #999999;
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333333;
  transform: translateY(-50%);
}
.main-content .columns .page-main .top-selling .section-products .single-product .part-2 .product-price {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16;
  color: #8262b5;
}
.main-content .columns .page-main .top-selling .section-products #product-1 .part-1::before {
  background: url("../img/Item/item1.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-2 .part-1::before {
  background: url("../img/Item/item2.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-3 .part-1::before {
  background: url("../img/Item/item3.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-4 .part-1::before {
  background: url("../img/Item/item4.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-5 .part-1::before {
  background: url("../img/Item/item5.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-6 .part-1::before {
  background: url("../img/Item/item6.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-7 .part-1::before {
  background: url("../img/Item/item7.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .top-selling .section-products #product-8 .part-1::before {
  background: url("../img/Item/item8.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .newsletter {
  position: relative;
  margin-top: -30px;
}
.main-content .columns .page-main .newsletter .section-news {
  position: absolute;
  width: 100%;
  margin-top: 81px;
}
.main-content .columns .page-main .newsletter .section-news .news-slick {
  margin-left: -38px;
  justify-content: center;
}
.main-content .columns .page-main .newsletter .section-news .header-news h3 {
  font-size: 12px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #8262b5;
  font-weight: 700;
  font-family: "Montserrat";
}
.main-content .columns .page-main .newsletter .section-news .header-news h2 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}
.main-content .columns .page-main .newsletter .section-news .header-news .line {
  width: 50px;
  height: 1px;
  background-color: #8262b5;
  margin: 0 auto;
  margin-top: 22px;
}
.main-content .columns .page-main .newsletter .section-news .single-news {
  margin-top: 51px;
  margin-right: 30px;
  width: 360px;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-1 {
  position: relative;
  width: 360px;
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-1 .date {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-1 .date p {
  text-decoration: none;
  padding: 9px 17.625px;
  background-color: #a1d1dd;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 {
  height: 190px;
  background-color: #ffffff;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 .news-title {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 47px;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 .news-description {
  width: 321px;
  height: 60px;
  font-size: 14px;
  line-height: 22px;
  color: #424242;
  font-weight: 400;
  font-family: "Open Sans";
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 .comment-like {
  margin-top: 15px;
  margin-left: 15px;
}
.main-content .columns .page-main .newsletter .section-news .single-news .part-2 .comment-like i {
  font-size: 14px;
  line-height: 22px;
  color: #c0c0c0;
  margin-left: 10px;
}
.main-content .columns .page-main .newsletter .section-news #news-1 .part-1::before {
  background: url("../img/blog/news1.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .newsletter .section-news #news-2 .part-1::before {
  background: url("../img/blog/news2.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .newsletter .section-news #news-3 .part-1::before {
  background: url("../img/blog/news3.png") no-repeat center;
  background-size: cover;
}
.main-content .columns .page-main .newsletter .slick-dots {
  bottom: -43px;
}
.main-content .columns .page-main .newsletter .slick-dots li {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  padding: 0 3px;
}
.main-content .columns .page-main .newsletter .slick-dots li button {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #8262b5;
  border-radius: 10px;
  opacity: 0.4;
}
.main-content .columns .page-main .newsletter .slick-dots li button::before {
  content: none;
}
.main-content .columns .page-main .newsletter .slick-dots li.slick-active button {
  opacity: 1;
  height: 16px;
  width: 16px;
}
.main-content .columns .page-main .newsletter .slick-list {
  width: 1140px;
}
.main-content .columns .page-main .newsletter img {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  height: 415px;
  max-height: 415px;
  background-color: black;
}
.footer .section-footer {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid ;
}
.footer .section-footer .content-footer {
  margin-top: 58px;
}
.footer .section-footer .content-footer .news-title {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #f7f7f7;
  font-weight: 400;
  font-family: "Montserrat";
}
.footer .section-footer .content-footer .line {
  width: 100%;
  height: 1px;
  background-color: #393939;
  margin-top: 25px;
}
.footer .section-footer .content-footer .news-content {
  margin-top: 19px;
}
.footer .section-footer #ft1,
.footer .section-footer #ft3 {
  width: 263px;
  height: 295px;
}
.footer .section-footer #ft1 {
  margin-right: 127px;
}
.footer .section-footer #ft1 .news-content {
  color: #888888;
}
.footer .section-footer #ft1 .icon {
  margin-top: 28px;
}
.footer .section-footer #ft1 .icon i {
  margin-right: 30px;
}
.footer .section-footer #ft1 .icon a {
  color: #888888 !important;
}
.footer .section-footer #ft2 {
  width: 360px;
  height: 295px;
  margin-right: 127px;
  margin-left: -1px;
}
.footer .section-footer #ft2 .news-content {
  display: flex;
}
.footer .section-footer #ft2 .news-content ul {
  margin: 0;
  padding: 0;
}
.footer .section-footer #ft2 .news-content ul li a {
  font-size: 14px;
  line-height: 30px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  text-decoration: none;
}
.footer .section-footer #ft2 .news-content ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer .section-footer #ft2 .news-content .col1 {
  margin-right: 124px;
}
.footer .section-footer #ft3 .news-content .address a {
  display: flex;
  font-size: 14px;
  line-height: 34px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  text-decoration: none;
}
.footer .section-footer #ft3 .news-content .address a .icon {
  margin-right: 18px;
}
.footer .section-footer #ft3 .news-content .address a p {
  margin: 0;
  padding: 0;
}
.footer .section-footer #ft3 .news-content .phone a {
  display: flex;
  font-size: 14px;
  line-height: 34px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  text-decoration: none;
}
.footer .section-footer #ft3 .news-content .phone a .icon {
  margin-right: 18px;
}
.footer .section-footer #ft3 .news-content .phone a p {
  margin: 0;
  padding: 0;
}
.footer .section-footer #ft3 .news-content .mail a {
  display: flex;
  font-size: 14px;
  line-height: 34px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  text-decoration: none;
}
.footer .section-footer #ft3 .news-content .mail a .icon {
  margin-right: 18px;
}
.footer .section-footer #ft3 .news-content .mail a p {
  margin: 0;
  padding: 0;
}
.footer .line {
  opacity: 0.102;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.footer .info {
  width: 100%;
  height: 70;
}
.footer .info-inner {
  width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}
.footer .info-inner-left p {
  font-size: 14px;
  line-height: 25px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
}
.footer .info-inner-right p {
  font-size: 20px;
  line-height: 22px;
  color: #888888;
}
.footer .info-inner-right p a {
  color: #888888 !important;
}
@media all and (max-width: 1920px) {
  .main-content .columns .page-main .top-selling .section-products .col-xl-3 {
    max-width: 262px;
    margin-right: 30px;
  }
  .main-content .columns .page-main .newsletter .section-news .col-xl-4 {
    max-width: 360px;
    margin-right: 30px;
  }
}
@media all and (max-width: 1024px) {
  .header .logo-mobile {
    display: block;
  }
  .header .header-inner-left {
    margin-left: 10px;
  }
  .header .header-inner-right {
    margin-right: 10px;
  }
  .header .header-inner-right .web-info {
    margin-left: 10px;
  }
  .header .header-inner-right .web-info .content {
    margin-left: 5px;
  }
  .menu-bar .logo {
    display: none;
  }
  .menu-bar nav .nav-icon {
    display: block;
  }
  .menu-bar nav .navbar {
    transition: all, 0.5s;
    -webkit-transform: all, 0.5s;
    -moz-transform: all, 0.5s;
    -ms-transform: all, 0.5s;
    -o-transform: all, 0.5s;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    display: block;
    position: fixed;
    height: 100vh;
    width: 30vw;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    -webkit-box-shadow: 7px -1px 12px 0px #666666;
    -moz-box-shadow: 7px -1px 12px 0px #666666;
    box-shadow: 7px -1px 12px 0px #666666;
  }
  .menu-bar nav .navbar li {
    padding: 10px 15px;
    border-bottom: 1px solid #ffffff;
  }
  .menu-bar nav .navbar .nav-title {
    display: block;
  }
  .menu-bar nav .navbar a {
    color: #fff;
  }
  .menu-bar nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .menu-bar .icon {
    margin-right: 10px;
  }
  .menu-bar .icon i {
    margin-left: 10px;
    font-size: 25px;
    color: #000000;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .header .header-inner .web-info .content {
    display: none;
  }
  .menu-bar nav .navbar {
    width: 40vw;
  }
}
@media all and (max-width: 576px) {
  .menu-bar nav .navbar {
    width: 45vw;
  }
}
@media all and (max-width: 375px) {
  .menu-bar nav .navbar {
    width: 55vw;
  }
}
/*# sourceMappingURL=style.css.map */